.contenedor-1{
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.contenedor-2{
    width: 319px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.contenedor-3{
    width: 319px;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.contenedor-4{
    width: 319px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.contenedor-5{
    width: 319px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.contenedor-6{
    width: 319px;
}